<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/PriceCheckData</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- List the annotated entity class/es -->
        <mapping class="edu.matc.entity.user"/>
        <mapping class="edu.matc.entity.brand"/>
        <mapping class="edu.matc.entity.item"/>
        <mapping class="edu.matc.entity.grocery"/>
        <mapping class="edu.matc.entity.pricefact"/>
        <mapping class="persistence.BrandEntity"/>
        <mapping class="persistence.GroceryEntity"/>
        <mapping class="persistence.ItemEntity"/>
        <mapping class="persistence.PriceFactEntity"/>
        <mapping class="persistence.UserEntity"/>

    </session-factory>

</hibernate-configuration>